
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

h1{
  text-align: center;
  padding-top:60px;
}

/*headerの設定*/
header {
  position: fixed;
  background: black;
  width: 100%;
  height:110px;
  z-index: 100;
}

.header-menu {
  display: flex;
}

.header-left-menu img{
  width:50%;
  margin-top:30px;
}

.header-right-menu{
  display: flex;
  float: left;
  padding:  30px 0 30px 0;
}

.header-login-button, .icon {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: .5s;
  text-align:center;
  border-radius: 4px;
  line-height: 35px;
  padding:7px 0px 7px 0px;
}

.header-login-button{
  width:200px;
  height: 50px;
  margin:3px 30px 0px 0px;
  border: 3px solid white;
  letter-spacing: 3px;
}

.icon{
  border-radius:4px;   
  position:relative;
  width:57px;
  height:57px;
  font-size:33px;
  color:#fff!important;
}

.icon i{
position:absolute;
top:50%;
left:50%;
-ms-transform:translate(-50%,-50%);
-webkit-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
}

.header-login-button:hover, .icon:hover {
  -webkit-transform:translateY(-10px);
　-ms-transform:translateY(-10px);
  transform:translateY(-10px);
  color:white;
  text-decoration:none;
}

.twitter_btn{
  background:#55acee;
  margin-right: 30px;
}

.discord_btn{
  background: #be4bdb;
}
/*headerの設定終わり*/
/*----------------------------------------------*/

/*空白のスペースの設定*/
/*----------------------------------------------*/
.space{
  width:100%;
  height:110px;
}
/*----------------------------------------------*/

/*top設定*/
/*----------------------------------------------*/

#top{
  height: 700px;
  width:100%;
  position: relative;
  text-align: center;
  background-image: url(img/conceptart.png);
}

.top-title-logo{
  padding-top:250px;
  width:  100%;
  margin-left: 10%;
}

.top-subtitle{
  padding-top:10px;
  font-weight:bold;
  font-size: 160%;
  color:black;
  margin-left: 22%;
  letter-spacing: 3px;
}

.top-login-button {
  outline: none;
  font-weight: bold;
  width:250px;
  height: 60px;
  color: white;
  border: 2px solid white;
  transition: .5s;
  border-radius: 4px;
  margin:8% 0% 0% 20%;
  padding:7px 0px 7px 0px;
  letter-spacing: 3px;
  background-color: black;
}

.top-login-button:hover {
  background-color: white;
  border: 3px solid black;
  border-color: black;
  color: black;
}

/*共通設定*/
/*------------------------------*/
/*------------------------------*/

#overview,#game-characteristic,#game-content,#member{
  width:100%;
  background-image: url("img/background.jpg");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

#overview .col-md-12,#game-characteristic .col-md-12,#game-content .col-md-12,#member .col-md-12{
  margin:2.5% 0% 2.5% 0%;
  overflow: hidden;
  background: inherit;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  width:100%;
  height:100%;
  background-color:rgb(249,248,246,1);
}

.title{
  font-weight:bold;
}

/*top設定終わり*/
/*------------------------------*/

/*overview*/
/*------------------------------*/

#overview .col-md-12{
  margin-top:5%;
}

.overview-content li{
  float:left;
  padding-top:50px;
  padding-left:5%;
}

.overview-text{
  display: inline-block;
  padding:20px 0px 80px 0px;
  font-size:17px;
  letter-spacing: 5px;
  width:500px;
}

.overview-movie{
  display: inline-block;
  border: 5px solid white;
  width:100%;
}

/*overviewの設定終了*/
/*-------------------------------------*/

/*game-characteristic*/
/*-------------------------------------*/

.characteristic-subject{
  font-weight:500;
}

.game-characteristic-list{
  margin-top:6%;
}

.characteristic-frame{
  height:250px;
  width:100%;
  border:3px solid #68727e;
  margin-bottom:3%;
  border-radius: 15px;
}

.characteristic-frame-left{
  margin-left: 3%;
}

.characteristic-frame-right{
  margin-left: -4%
}

.characteristic-img-left{
  float:left;
  margin-left:7%;
}

.characteristic-img-left,.characteristic-img-right{
  margin-top: 5%;
  width:17%;
}

.characteristic-content{
  float:left;
  margin:3% 7% 0% 7%;
}

.characteristic-text{
  font-size:16px;
  padding-top:10px;
}
/*characteristicの設定終了*/
/*-------------------------------------*/

.game-content-list{
  margin:6% 0% 0% 3%;
}

.game-content-subtitle{
  text-align:center;
  margin-right:15%;
  font-size:1.3em;
  font-weight: 600;
}

.game-content-img{
  float:left;
  margin-right:8%;
  margin-bottom:8%;
  width:25%;
}

.game-content-text{
  padding-top:2%;
}

/*copntentの設定終了*/
/*-------------------------------------*/

#member .col-md-12{
  margin-bottom: 5%;
}

.member-frame{
  border-radius: 5%;
  width: 250px;
  height: 380px;
  border: 2px solid #68727e;
  margin-left: 8%;
  margin-top:20%;
  margin-bottom: 15%;
}

.member-img-list{
  text-align: center;
  display:inline-block; 
}

.member-frame h4{
  display: inline-block;
  padding-top:10px;
  color:#7289da;
  border-bottom:  3px dotted #7289da;
}

.member-photobox img{
  margin-top:45px;
  border-radius: 50%;
  width:  170px;       
  height: 170px;
  border: 1px solid #68727e;
}

.member3,.member4{
  margin-right:7%;
}

/*memberの設定終了*/
/*-------------------------------------*/

/*ここから下がフッターの設定*/
footer {
    background: black;
    padding: 40px;
    text-align: center;
    font-size:100%;
    color:white;
    letter-spacing: 2px;
}